[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pycodestyle = "*"

[packages]
pandas = "*"
gensim = "*"
nltk = "*"
pymongo = "*"
networkx = "*"
scikit-learn = "*"
numpy = "*"
jupyter = "*"
pep8 = "*"
autopep8 = "*"
pylint = "*"
matplotlib = "*"

[requires]
python_version = "3.7"
